################################################################################
# Single source deb for entire distribution                                    #
################################################################################

Source: gnuradio
Section: comm
Priority: optional
Maintainer: A. Maitland Bottoms <bottoms@debian.org>
Uploaders: Bdale Garbee <bdale@gag.com>
Build-Conflicts: automake1.8, automake1.9
Build-Depends: debhelper (>= 8.0.0~), libuhd-dev, libfontconfig1-dev, libxrender-dev, libpulse-dev, swig, automake, autoconf, libtool, python-dev, libfftw3-dev, libcppunit-dev, libboost-all-dev, libusb-1.0-0-dev, libsdl1.2-dev, python-wxgtk2.8, guile-1.8-dev, libqt4-dev, python-numpy, ccache, python-opengl, libgsl0-dev, python-cheetah, python-lxml, doxygen, qt4-dev-tools, libqwt5-qt4-dev, libqwtplot3d-qt4-dev, pyqt4-dev-tools, python-qwt5-qt4, python-gtk2-dev, sdcc, libcomedi-dev, libxi-dev
Standards-Version: 3.9.1
XS-Python-Version: >=2.5
X-Python-Version: 2.7
Vcs-Git: git://git.gag.com/debian/gnuradio
Vcs-Browser: http://git.gag.com/?p=debian/gnuradio
# Not building with the following for now...
# fort77, sdcc, sdcc-libraries, libusb-dev, git-core, wget

################################################################################
# One Big Package                                                              #
################################################################################

Package: gnuradio
Architecture: any
Depends: python2.6, python-wxgtk2.8, python-cheetah, adduser, ${shlibs:Depends}, ${misc:Depends}
Recommends: uhd-images, python-tk
Description: GNU Radio Software Radio Toolkit
 One big package that will need to be split.

#package-name-doesnt-match-sonames 
#libgnuradio-atsc-3.4.1-0
#libgnuradio-audio-3.4.1-0
#libgnuradio-comedi-3.4.1-0
#libgnuradio-core-3.4.1-0
#libgnuradio-cvsd-vocoder-3.4.1-0
#libgnuradio-gsm-fr-vocoder-3.4.1-0
#libgnuradio-msdd6000-3.4.1-0
#libgnuradio-msdd6000-rs-3.4.1-0
#libgnuradio-noaa-3.4.1-0
#libgnuradio-pager-3.4.1-0
#libgnuradio-qtgui-3.4.1-0
#libgnuradio-trellis-3.4.1-0
#libgnuradio-uhd-3.4.1-0
#libgnuradio-usrp-3.4.1-0
#libgnuradio-usrp2-3.4.1-0
#libgnuradio-video-sdl-3.4.1-0
#libgruel-3.4.1-0
#libusrp-3.4.1-0
#libusrp2-3.4.1-0
